/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wplibcalhours .hidden {
    display: none;
}

.wplibcalhours .prev {
    float: left;
}

.wplibcalhours .next {
    float: right;
}

.wplibcalhours tbody td {
    vertical-align: top;
}
