/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wplibcalhours .hidden {
    display: none;
}

.wplibcalhours .prev {
    float: left;
}

.wplibcalhours .next {
    float: right;
}

.wplibcalhours tbody td {
    vertical-align: top;
}

.hours-list-view {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: .6fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.hours-day {
    font-weight: bold
}

@media (max-width: 576px) {
    .hours-list-view {
        display: block;
    }
}
